p {
    font-style: Arial;
}
.video-title {
   
    font-size: 11;
    font-weight: bold;
    margin-bottom:5;
   font-size: 18px;
    width:300px;
    line-height:25px;
}

.video-stats{
   
    font-size:14px;
    color:rgb(96,96,96);
    margin-top:0;
}

.video-author {
   
    font-size:15px;
    color: rgb(96,96,96);
    margin-top:20px;
}

.video-des {
   
    font-size: 14px;
    color: rgb(96,96,96);
    margin-top:19px;
    width:270px;
    margin-bottom:100px;
}

.apple-text{
    margin: botton 50px;
    font-size:14px;
    background-color:rgb(227, 65, 64);
    color:white;
    text-align: center;
    padding-top:18px;
    padding-bottom:18px;
}