.header {
    height:55px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color:white;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgb(228, 228, 228);
    z-index:100;
}

.left-section {
  display:flex;
  align-items:center;
}

.hamburger-menu {
    height:24px;
    margin-left:24px;
    margin-right:20px;

}

.youtube-logo {
    height:20px;
}

.middle-section{
    display:flex;
    align-items:center;
    flex: 1;
    margin-left:70px;
    margin-right:35px;
    max-width:500px;
}

.search-bar {
    padding-left:10px;
    display:flex;
    flex:1;
    font-size:16px;
    height:36px;
    border-style:solid;
    border-width:1px;
    border-color:rgb(195, 195, 195);
    border-radius:2px;
    box-shadow:inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width:0;
}

.search-bar::placeholder{
    font-family:roboto,arial;
    font-size:16px;
}

.search-button {
    height: 39px;
    width:66px;
    background-color:rgb(225, 225, 225);
    border-width:1px;
    border-color:rgb(195, 195, 195);
    border-style:solid;
    margin-left:-1px;
    margin-right:10px;
    position:relative;

}

.search-button .tooltip,
.voice-search-button .tooltip {
    position:absolute;
    background-color:grey;
    color:white;
    padding-top:4px;
    padding-bottom:4px;
    padding-right:8px;
    padding-left:8px;
    border-radius:2px;
    font-size:12px;
    bottom:-30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events:none;
}

.search-button:hover .tooltip ,
.voice-search-button .tooltip{
    opacity:1;
}

.search-icon {
    height:25px;
    margin-top:4px;
}

.voice-search-button {
    height:39px;
    width:40px;
    border-radius:20px;
    border:none;
    background-color:rgb(245,245,245);
    position:relative;
}



.voice-search-icon {
    height:24px;
    margin-top:4px;   
}


.right-section {
   max-width:180px;
    display:flex;
    flex:1;
    align-items:center;
    justify-content:space-between;
    margin-right:20px;
    flex-shrink:0;
}


.upload-icon {
    height:24px;
}


.youtube-apps-icon {
    height:24px;
}

.notifications-icon-container {
    position:relative;


}

.notifications-icon {
    height:24px;

}

.notifications-count {
    position:absolute;
    top:-2px;
    right:-3px;
    background-color:rgb(173, 0, 0);
    color:white;
    border-radius:10px;
    font-family: roboto,arial;
    font-size:9px;
    padding-left:5px;
    padding-right:5px;
    padding-top:1px;
    padding-bottom:1px;
}

.my-channel-button {
    height:40px;
    width:40px;
    border:none;
    background-color: white;

}

.my-channel-icon {

    height:32px;
   border-radius:16px
}

